site_name: stdl
repo_name: zigai/stdl
repo_url: https://github.com/zigai/stdl
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.top
    - navigation.expand
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - search.share
    - search.highlight
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: lime
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - toc:
      permalink: true
      title: Page contents

plugins:
  - autorefs
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - mkdocstrings:
      handlers:
        python:
          options:
            members_order: source
            separate_signature: true
            merge_init_into_class: true
            show_root_full_path: true
            show_symbol_type_toc: true
            docstring_section_style: table # table, list or spacy
            docstring_style: google
            filters:
              - "!^_" # Hide semi-private functions and methods
              - "!^__" # Hide private functions and methods
            show_signature_annotations: true
            signature_crossrefs: true
          import:
            - https://docs.python.org/3/objects.inv

nav:
  - Get Started: index.md
  - API Documentation:
      - fs: reference/fs.md
      - st: reference/st.md
      - dt: reference/dt.md
      - log: reference/log.md
      - net: reference/net.md
      - color: reference/color.md
      - import_lazy: reference/import_lazy.md
      - decorators: reference/decorators.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/zigai/stdl
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/stdl/
